@import '../assets/styles/variables';
.pay-table {
    width: 100%;
    border-collapse: collapse;
    background-color: $color-4;
    @media (max-width: $breakpoint-mobile) {
        table-layout: fixed;
    }
    &__row {
        &--mobile {
            display: none;
            @media (max-width: $breakpoint-mobile) {
                display: table-row;
            }
        }
        &--desktop {
            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
    }
    &__cell {
        padding: 0.2em 0.5em;
        color: $color-6;
        font-size: $base-font-size;
        font-weight: bold;
        text-transform: uppercase;
        @media (max-width: $breakpoint-mobile) {
            font-size: $base-font-size-mobile;
        }
        &--pay {
            text-align: center;
        }
        &--selected {
            background-color: $color-5;
            color: $color-7;
        }
        &--highlighted {
            background-color: $color-2;
        }
        &--highlighted#{&}--selected {
            background-color: $color-4;
        }
        &--highlighted#{&}--name {
            @media (max-width: $breakpoint-mobile) {
                background-color: $color-2;
            }
        }
        &--desktop {
            @media (max-width: $breakpoint-mobile) {
                display: none;
            }
        }
        &--name {
            @media (max-width: $breakpoint-mobile) {
                background-color: $color-5;
                text-align: center;
            }
        }
    }
}