@import '../assets/styles/variables';
.tools {
    display: grid;
    grid-template-columns: repeat(3, (50% / 3)) repeat(2, 25%);
    align-items: center;
    margin: -0.25px;
    @media (max-width: $breakpoint-mobile) {
        grid-template-columns: repeat(3, (100% / 3));
        grid-template-rows: auto;
    }
    &__item {
        padding: 2.5px;
    }
    &__bet {
        color: $color-5;
        text-align: center;
        font-size: $base-font-size * 1.5;
        font-weight: bold;
        @media (max-width: $breakpoint-mobile) {
            font-size: $base-font-size-mobile * 1.5;
        }
    }
}
