@import '../assets/styles/variables';
.user-bar {
    font-size: $base-font-size * 2;
    font-weight: bold;
    color: $color-8;
    text-align: center;
    @media (max-width: $breakpoint-mobile) {
        font-size: $base-font-size-mobile * 2;
    }
}