@import 'assets/styles/variables';
.app {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: minmax(0, 630px);
    min-height: 100vh;
    @media (max-width: $breakpoint-mobile) {
        display: block;
    }
    &__inner {
        display: grid;
        grid-template-rows: auto 180px;
        gap: 20px;
        max-width: 100%;
        padding: 15px;
        @media (max-width: $breakpoint-mobile) {
            grid-template-rows: auto;
            gap: 10px;
        }
    }
    &__hand-wrapper {
        display: grid;
        align-items: center;
    }
    &__hand-placeholder {
        display: grid;
        align-items: center;
        color: $color-1;
        font-size: $base-font-size * 3;
        font-weight: bold;
        text-align: center;
        @media (max-width: $breakpoint-mobile) {
            grid-row: 1 / 2;
            font-size: $base-font-size-mobile * 3;
        }
    }
    &__user-bar-wrapper {
        text-align: center;
    }
}
