$color-1: blue;
$color-2: darkblue;
$color-3: yellow;
$color-4: red;
$color-5: white;
$color-6: black;
$color-7: lightgreen;
$color-8: orange;
$color-9: lightgray;
$color-10: lightblue;

$base-font-size: 16px;