$color-1: white;
$color-2: #fff8dd;
$color-3: #ffe066;
$color-4: #ffdd55;
$color-5: #cca300;
$color-6: #433b1b;
$color-7: #092004;
$color-8: #121212;
$color-9: #ff310c;

$gradient-1: linear-gradient(180deg, #1e0c26, #eea8a0);

$base-font-size: 16px;
$base-font-size-mobile: 12px;

$breakpoint-mobile: 600px;
