$color-1: blue;

$color-2: #ffdd55;
$color-3: #433B1B;
$color-4: #cca300;
$color-11: #092004;
$color-12: #fff8dd;
$color-13: #ffe066;
$color-14: #ff310c;
$color-15: #121212;

$color-5: white;
$color-6: black;
$color-7: lightgreen;
$color-8: orange;
$color-9: lightgray;
$color-10: lightblue;



$gradient-1: linear-gradient(180deg, #1e0c26, #eea8a0);

$base-font-size: 16px;
$base-font-size-mobile: 12px;

$breakpoint-mobile: 600px;